<mat-tab-group mat-align-tabs="end" (selectedTabChange)="tabChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">article</mat-icon>
      All
    </ng-template>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Delivery Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentRequisitionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Logged
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentRequisitionDate | date }}
          </td>
        </ng-container>

        <!-- Tracking Number -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            TNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.id | number: "3.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Location
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description of Items
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.payload }}
          </td>
        </ng-container>

        <ng-container matColumnDef="submittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SubmittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amountToBePaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Amount to be paid
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amountToBePaid | currency: "UGX ":"code" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="paymentVoucherNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
             RFPNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentVoucherNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Project Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.projectCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="activityLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Activity Line
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.activityLine }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.supplierName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.step === "approved" ? "closed" : element.step }}
          </td>
        </ng-container>

        <ng-component matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading Data . . .
          </mat-footer-cell>
        </ng-component>

        <ng-component matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No transactions . . .
          </mat-footer-cell>
        </ng-component>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelect(row)"
        ></tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: dataSource != null }"
        ></mat-footer-row>

        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(dataSource != null && ELEMENT_DATA?.length === 0)
          }"
        ></mat-footer-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">alarm</mat-icon>
      Pending
    </ng-template>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Delivery Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentRequisitionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Logged
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentRequisitionDate | date }}
          </td>
        </ng-container>

        <!-- Tracking Number -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            TNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.id | number: "3.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Location
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description of Items
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.payload }}
          </td>
        </ng-container>

        <ng-container matColumnDef="submittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SubmittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amountToBePaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Amount to be paid
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amountToBePaid | currency: "UGX ":"code" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="paymentVoucherNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
             RFPNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentVoucherNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Project Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.projectCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="activityLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Activity Line
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.activityLine }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.supplierName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.step === "approved" ? "closed" : element.step }}
          </td>
        </ng-container>

        <ng-component matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading Data . . .
          </mat-footer-cell>
        </ng-component>

        <ng-component matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No transactions . . .
          </mat-footer-cell>
        </ng-component>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelect(row)"
        ></tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: dataSource != null }"
        ></mat-footer-row>

        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(dataSource != null && ELEMENT_DATA?.length === 0)
          }"
        ></mat-footer-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">error</mat-icon>
      {{ tabs[2] || "Rejections From Finance" }}
    </ng-template>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Delivery Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentRequisitionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Logged
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentRequisitionDate | date }}
          </td>
        </ng-container>

        <!-- Tracking Number -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            TNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.id | number: "3.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Location
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description of Items
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.payload }}
          </td>
        </ng-container>

        <ng-container matColumnDef="submittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SubmittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amountToBePaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Amount to be paid
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amountToBePaid | currency: "UGX ":"code" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="paymentVoucherNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
             RFPNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentVoucherNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Project Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.projectCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="activityLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Activity Line
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.activityLine }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.supplierName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.step === "approved" ? "closed" : element.step }}
          </td>
        </ng-container>

        <ng-component matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading Data . . .
          </mat-footer-cell>
        </ng-component>

        <ng-component matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No transactions . . .
          </mat-footer-cell>
        </ng-component>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelect(row)"
        ></tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: dataSource != null }"
        ></mat-footer-row>

        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(dataSource != null && ELEMENT_DATA?.length === 0)
          }"
        ></mat-footer-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">offline_pin</mat-icon>
      {{ tabs[3] || "Approvals For Payment" }}
    </ng-template>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Delivery Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentRequisitionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date Logged
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentRequisitionDate | date }}
          </td>
        </ng-container>

        <!-- Tracking Number -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            TNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.id | number: "3.0" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Location
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.location }}
          </td>
        </ng-container>

        <ng-container matColumnDef="payload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Description of Items
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.payload }}
          </td>
        </ng-container>

        <ng-container matColumnDef="submittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <ng-container matColumnDef="SubmittedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Submitted By
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.submittedBy }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amountToBePaid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Amount to be paid
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.amountToBePaid | currency: "UGX ":"code" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="paymentVoucherNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
             RFPNO
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paymentVoucherNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="projectCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Project Code
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.projectCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="activityLine">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Activity Line
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.activityLine }}
          </td>
        </ng-container>

        <ng-container matColumnDef="supplierName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Supplier Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.supplierName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.step === "approved" ? "closed" : element.step }}
          </td>
        </ng-container>

        <ng-component matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading Data . . .
          </mat-footer-cell>
        </ng-component>

        <ng-component matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No transactions . . .
          </mat-footer-cell>
        </ng-component>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onSelect(row)"
        ></tr>

        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: dataSource != null }"
        ></mat-footer-row>

        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(dataSource != null && ELEMENT_DATA?.length === 0)
          }"
        ></mat-footer-row>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
