.details {
  width: 70vw;
  margin: 20px auto;

  h1 {
    font-size: 40px;
    font-weight: 200;
    margin: 20px 0;
    text-align: center;
  }

  h3 {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .info {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;
  }
}

button{
  color:#fff;
  background: #1976d2;
  border:none;
  padding: 4px 14px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover{
    background: #197609;
  }
}
