.details {
  width: 70vw;
  margin: 20px auto;
  background-color: #fff;
  padding-bottom: 100px;

  h1 {
    font-size: 40px;
    font-weight: 200;
    margin: 20px 0;
    text-align: center;
  }

  h3 {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .info {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;

    position: relative;

    .title {
      font-size: 18px;
      font-weight: 500;
    }

    .verified {
      position: absolute;
      bottom: 30px;
      right: 70px;
      color: rgba(49, 172, 255, 0.8);

      mat-icon {
        font-size: 70px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .timeElapsed {
    span {
      font-size: 15px;
    }
  }
}

.elapsed {
  color: #114375;
}

button {
  color: #fff;
  background: #1976d2;
  border: none;
  padding: 4px 14px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background: #197609;
  }
}
