<section class="details">
  <h1>Payload Details</h1>

  <app-loading *ngIf="loading"></app-loading>

  <h3 *ngIf="!loading && !error">
    Date Submitted: {{ transaction?.paymentRequisitionDate | date }}
  </h3>
  <div *ngIf="!loading && !error" class="info">
    <div>
      <h3>Delivery Date</h3>
      <p>{{ transaction.deliveryDate | date }}</p>

      <h3>Payload Items</h3>
      <p>{{ transaction.payload }}</p>

      <h3>Payment Voucher Number</h3>
      <p>{{ transaction.paymentVoucherNumber }}</p>

      <h3>Invoice Amount</h3>
      <p>{{ transaction.invoiceAmount | currency: "UGX ":"code" }}</p>

      <h3>Withholding Tax</h3>
      <p>{{ transaction.withholdingTax }}%</p>
    </div>

    <div>
      <h3>Purchase Order Number</h3>
      <p>{{ transaction.purchaseOrderNumber }}</p>

      <h3>Project Code</h3>
      <p>{{ transaction.projectCode }}</p>

      <h3>Activity Line</h3>
      <p>{{ transaction.activityLine }}</p>

      <h3>Amount to be paid</h3>
      <p>{{ transaction.amountToBePaid | currency: "UGX ":"code" }}</p>
    </div>
  </div>

  <h3 style="float: right;" class="timeElapsed" *ngIf="!loading && !error">
    Time Elapsed:<span> {{ timeElapsed }}</span>
  </h3>

  <button
    *ngIf="!loading && !error && canEdit"
    (click)="onEdit()"
    type="button"
    name="button"
  >
    Edit Payload
  </button>

  <app-comments
    *ngIf="!loading && !error"
    [comments]="transaction?.comments"
    [step]="transaction?.step"
  ></app-comments>

  <div *ngIf="error">
    <h3>There was an error loading the transaction</h3>
    <button>Try again</button>
  </div>
</section>
