<section class="details">
  <h1>Payload Details</h1>

  <app-loading *ngIf="loading"></app-loading>

  <h3 *ngIf="!loading && !error">
    Date Submitted: {{ transaction?.paymentRequisitionDate | date }}
  </h3>
  <div *ngIf="!loading && !error" class="info">
    <div *ngIf="transaction.step === 'approved'" class="verified">
      <mat-icon>verified</mat-icon>
      <p>Approved</p>
    </div>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>today</mat-icon>
        <div mat-line class="title">Delivery Date</div>
        <div mat-line>{{ transaction.deliveryDate | date }}</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>
        <div mat-line class="title">Payload Items</div>
        <div mat-line>{{ transaction.payload }}</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>filter_4</mat-icon>
        <div mat-line class="title">Payment Voucher Number</div>
        <div mat-line>{{ transaction.paymentVoucherNumber }}</div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>local_atm</mat-icon>
        <div mat-line class="title">Invoice Amount</div>
        <div mat-line>
          {{ transaction.invoiceAmount | currency: "UGX ":"code" }}
        </div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>multiple_stop</mat-icon>
        <div mat-line class="title">Withholding Tax</div>
        <div mat-line>{{ transaction.withholdingTax }}%</div>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>style</mat-icon>
        <div mat-line class="title">Purchase Order Number</div>
        <div mat-line>
          {{ transaction.purchaseOrderNumber }}
        </div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>confirmation_number</mat-icon>
        <div mat-line class="title">Project Code</div>
        <div mat-line>
          {{ transaction.projectCode }}
        </div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>money</mat-icon>
        <div mat-line class="title">Activity Line</div>
        <div mat-line>
          {{ transaction.activityLine }}
        </div>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <div mat-line class="title">Amount to be paid</div>
        <div mat-line>
          {{ transaction.amountToBePaid | currency: "UGX ":"code" }}
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <h3 style="float: right;" class="timeElapsed" *ngIf="!loading && !error">
    Time Elapsed:<span> {{ timeElapsed }}</span>
  </h3>

  <button
    *ngIf="!loading && !error && canEdit"
    (click)="onEdit()"
    type="button"
    name="button"
  >
    Edit Payload
  </button>

  <app-comments
    *ngIf="!loading && !error"
    [comments]="transaction?.comments"
    [step]="transaction?.step"
  ></app-comments>

  <div *ngIf="error">
    <h3>There was an error loading the transaction</h3>
    <button>Try again</button>
  </div>
</section>
