.contact-form {
  background-color: #fff;
  margin: 50px 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 50px 20px;

  h1 {
    font-size: 40px;
    font-weight: 200;
  }

  mat-divider {
    margin-bottom: 20px;
    width: 30%;
  }

  form {
    display: flex;
    flex-flow: column;

    input,
    textarea {
      margin-bottom: 10px;
      font-size: 16px;
    }

    button {
      font-size: 18px;
    }
  }
}
