<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div>
    <div class="search">
      <button mat-raised-button (click)="onGenerateReport()" color="primary">
        <mat-icon>add</mat-icon>Generate Report
      </button>
      <mat-form-field
        class="search-form-field"
        floatLabel="never"
        appearance="outline"
      >
        <input
          matInput
          placeholder="Search"
          [(ngModel)]="searchKey"
          autocomplete="off"
          (keyup)="applyFilter()"
        />
        <button
          *ngIf="searchKey"
          mat-button
          matSuffix
          (click)="onSearchClear()"
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="transactions">
    <app-table
      [data]="trans"
      [pending]="pending"
      [rejected]="rejected"
      [approved]="approved"
      [tabs]="tabs"
      [searchKey]="searchSubject.asObservable()"
    ></app-table>
  </div>
</div>
