<div class="comments">
  <h2>Comments</h2>
  <div *ngFor="let comment of comments" class="comment">
    <mat-icon>account_circle</mat-icon>
    <div class="message">
      <h4>
        {{ comment.user.firstname }} {{ comment.user.lastname }} |
        <span class="role"
          >{{
            comment.user.role === "user" ? "Supply Chain" : comment.user.role
          }}
        </span>
        <span> - {{ comment?.createdAt | date }}</span>
      </h4>
      <div>
        {{ comment.message }}
      </div>
    </div>
  </div>
  <div *ngIf="canComment() && !loading" class="comment__add">
    <form class="form" (ngSubmit)="onComment(form)" #form="ngForm">
      <textarea
        ngModel
        name="comment"
        #comment="ngModel"
        required
        class="edit"
        rows="5"
        placeholder="Leave a comment . . ."
      ></textarea>

      <button
        (click)="approve()"
        class="submit right"
        *ngIf="!loading"
        [disabled]="form.invalid"
      >
        Approve
      </button>

      <button
        (click)="reject()"
        class="submit left"
        *ngIf="!loading"
        [disabled]="form.invalid"
      >
        Reject
      </button>
    </form>
  </div>
  <app-loading *ngIf="loading"></app-loading>
</div>
