<section class="newpayload">
  <h1>Fill in the form to generate new payload</h1>

  <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <label for="deliveryDate">
      Delivary Date
      <input
        type="date"
        ngModel
        #deliveryDate="ngModel"
        required
        name="deliveryDate"
      />
    </label>

    <label for="payload">
      Description of Items
      <textarea
        ngModel
        #payload="ngModel"
        name="payload"
        required
        rows="10"
        placeholder="Describe the items"
      ></textarea>
    </label>

    <label for="paymentVoucherNumber">
      Payment Voucher Number
      <input
        type="number"
        ngModel
        #paymentVoucherNumber="ngModel"
        required
        name="paymentVoucherNumber"
      />
    </label>

    <label for="purchaseOrderNumber">
      Purchase Order Number
      <input
        type="text"
        ngModel
        #purchaseOrderNumber="ngModel"
        required
        name="purchaseOrderNumber"
      />
    </label>

    <label for="invoiceAmount">
      Invoice Amount
      <input
        type="number"
        [(ngModel)]="invoiceAmounti"
        #invoiceAmount="ngModel"
        required
        name="invoiceAmount"
      />
    </label>

    <label for="withholdingTax">
      SELECT WITHHOLDING TAX
      <select
        name="withholdingTax"
        ngModel
        #withholdingTax="ngModel"
        required
        (change)="calculateAmount($event.target.value, invoiceAmount)"
      >
        <option value="0">0%</option>
        <option value="6">6%</option>
      </select>
    </label>

    <label for="amountToBePaid">
      Amount to be paid
      <input
        type="number"
        placeholder=" {{ amountCalculated | currency: 'UGX ':'code' }}"
        ngModel
        #amountToBePaid="ngModel"
        disabled
        name="amountToBePaid"
      />
    </label>

    <label for="projectCode">
      Project Code
      <input
        type="text"
        ngModel
        #projectCode="ngModel"
        required
        name="projectCode"
      />
    </label>

    <label for="activityLine">
      Activity Line
      <input
        type="text"
        ngModel
        #activityLine="ngModel"
        required
        name="activityLine"
      />
    </label>

    <label for="comment">
      Comment
      <textarea
        ngModel
        #comment="ngModel"
        name="comment"
        required
        rows="10"
        placeholder="Additional Comments"
      ></textarea>
    </label>

    <button *ngIf="!loading" [disabled]="form.invalid">Submit</button>

    <app-loading *ngIf="loading"></app-loading>
  </form>
</section>
