.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #ffd700;
  padding: 10px 0;

  a {
    color: #000;
    text-decoration: none;
    margin: 0 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;
  }
}
