<nav class="navigation">
  <div class="logo">
    <mat-icon>home</mat-icon><a routerLink="/">TRACK SOL</a>
  </div>

  <ul>
    <li>
      <mat-icon>send</mat-icon> <a routerLink="/contact">Contact Admin</a>
    </li>
    <li>
      <a [matMenuTriggerFor]="currency">
        <mat-icon>account_circle</mat-icon>
        {{ user.firstname }}
        <mat-icon class="icon">keyboard_arrow_down</mat-icon>
      </a>
      <mat-menu #currency="matMenu">
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </li>
  </ul>
</nav>
