.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #1976d2;
  padding: 10px 0;

  a {
    color: #fff;
    font-size: 15px;
    text-shadow: 0 0 5px #000;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-between;

    li a {
      display: flex;
      align-items: center;
    }

    li {
      display: flex;
      margin: 0 20px;
      flex-flow: row;
      align-items: center;
      cursor: pointer;

      mat-icon {
        color: #fff;
        margin-right: 5px;
      }
    }
  }
}

.logo {
  display: flex;
  flex-flow: row;
  color: #fff;
  margin-left: 20px;
  align-items: center;

  a {
    margin-left: 10px;
  }
}
