<div>
  <div class="search">
    <button mat-raised-button (click)="onCreate()" color="primary">
      <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field
      class="search-form-field"
      floatLabel="never"
      appearance="outline"
    >
      <input matInput placeholder="Search" autocomplete="off" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<div *ngIf="trans">
  <app-table
    [data]="trans"
    [approved]="approved"
    [rejected]="rejected"
    [pending]="pending"
    [tabs]="tabs"
  ></app-table>
</div>
