<section class="dashboard">
  <div class="greeting">
    <h1>Hi, Jonah</h1>
    <p>This is your accout summary as of Monday, 21 June 2020</p>
  </div>
  <ul class="tabs">
    <li>Total Submitted</li>
    <li>Pending Finance Review</li>
    <li>Payables Pending</li>
    <li>Rejected By Area Manager</li>
  </ul>

  <div class="summary">
    <ul class="tabs">
      <li>Delivery Date</li>
      <li>Tracking Number</li>
      <li>Voucher Number</li>
      <li>Purchase Order Number</li>
      <li>Activity Line</li>
      <li>Amount Paid</li>
    </ul>
  </div>

  <ul class="tabs">
    <li>12 - 06 - 2020</li>
    <li>124385478340</li>
    <li>10003932</li>
    <li>11029932</li>
    <li>12 L</li>
    <li>Ugx 15,000,000</li>
  </ul>

  <ul class="tabs">
    <li>12 - 06 - 2020</li>
    <li>124385478340</li>
    <li>10003932</li>
    <li>11029932</li>
    <li>12 L</li>
    <li>Ugx 15,000,000</li>
  </ul>

  <ul class="tabs">
    <li>12 - 06 - 2020</li>
    <li>124385478340</li>
    <li>10003932</li>
    <li>11029932</li>
    <li>12 L</li>
    <li>Ugx 15,000,000</li>
  </ul>

  <ul class="tabs">
    <li>12 - 06 - 2020</li>
    <li>124385478340</li>
    <li>10003932</li>
    <li>11029932</li>
    <li>12 L</li>
    <li>Ugx 15,000,000</li>
  </ul>
</section>
