.dashboard {
  margin-bottom: 100px;
  .tabs {
    display: flex;
    flex-flow: row;
    list-style: none;
    justify-content: space-around;
    padding: 10px 0;
    align-self: stretch;
    color: #555;
  }

  .head {
    background-color: #c5cae9;
    li {
      cursor: pointer;
      a {
        padding: 3px 15px;
      }
    }
  }

  .greeting {
    text-align: center;
    background-color: #c5cae9;
    color: #000;
    padding: 40px 0;

    h1 {
      font-size: 40px;
      font-weight: 200;
    }

    p {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 200;
    }

    a {
      color: #fff;
      text-decoration: none;
      background-color: #1976d2;
      padding: 8px 30px;
      // transition: 1s ease-out;
      &:hover {
        background-color: #1565c0;
      }

      &:active {
        background-color: #1976d2;
      }
    }
  }
}
