<section class="dashboard">
  <div class="greeting">
    <h1>Hi, {{ user.firstname }}</h1>
    <p>
      This is the summary of all payloads in accounts as of
      {{ currentdate | date }}
    </p>
  </div>
  <ul class="tabs head">
    <li (click)="onTab('all')">
      <a [ngClass]="{ active: tab === 'all' }">All</a>
    </li>
    <li (click)="onTab('pending')">
      <a [ngClass]="{ active: tab === 'pending' }">Pending</a>
    </li>
    <li (click)="onTab('rejected')">
      <a [ngClass]="{ active: tab === 'rejected' }">Rejected</a>
    </li>
    <li (click)="onTab('approved')">
      <a [ngClass]="{ active: tab === 'approved' }">Approved</a>
    </li>
  </ul>

  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="transactions">
    <div *ngIf="empty" class="empty">
      ...<br />
      No transactions yet
    </div>

    <div class="table-container" role="table" aria-label="Transactions">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">Delivery Date</div>
        <div class="flex-row" role="columnheader">Tracking Number</div>
        <div class="flex-row" role="columnheader">Voucher Number</div>
        <div class="flex-row" role="columnheader">Amount to be paid</div>
        <div class="flex-row" role="columnheader">Activity Line</div>
      </div>
      <div
        *ngFor="let transaction of transactions"
        class="flex-table row"
        role="rowgroup"
        (click)="onSelect(transaction._id)"
      >
        <div class="flex-row first" role="cell">
          <span class="flag-icon flag-icon-gb"></span>
          {{ transaction.deliveryDate | date }}
        </div>
        <div class="flex-row" role="cell">
          {{ transaction.id | number: "3.0" }}
        </div>
        <div class="flex-row" role="cell">
          {{ transaction.paymentVoucherNumber }}
        </div>
        <div class="flex-row" role="cell">
          {{ transaction.amountToBePaid | currency: "UGX ":"code" }}
        </div>
        <div class="flex-row" role="cell">{{ transaction.activityLine }}</div>
      </div>
    </div>
  </div>
</section>
